/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

.chat-container{
  width: 70%;
  margin: 0 auto;
}

.chat-container .row{
  padding-top: 20px;
  margin: 0 auto;
}
 

  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    width: 5px;
    background: #ffffff;
  }
  
  ::-webkit-scrollbar-thumb {
    width: 1em;
    background-color: rgb(47, 76, 104);
    outline: 1px solid white;
    border-radius: 1rem;
  }

  
  .text-small {
    font-size: 0.9rem;
  }
  
  .messages-box{
    height: 600px;
    overflow-y: auto;
  }

  .chat-box{
    height: 650px;
    overflow-y: auto;
  }

  #messages{
    height: 620px;
    border-bottom: 1px solid #f5f5f5;
    border-left: 1px solid #f5f5f5;
  }

  #form-messages{
    height: 80px;
  }

  #form-messages .input-group{
    background-color: white;
    border-left: 1px solid #f5f5f5;
    padding: 15px;
  }

  .media{
    width: 75% !important;
  }

  .media-body .font-weight-bold{
    margin-bottom: 15px;
  }
  
  .rounded-lg {
    border-radius: 0.5rem;
    padding-left: 10px;
    padding-right: 10px;
  }

  @media only screen and (max-width:768){
    .rounded-lg .col-12{
        margin-bottom:10px;
        border-bottom: 1px solid #f5f5f5;
    }    
    
  }

  @media only screen and (max-width: 500px) {
    .chat-container{
      width: 100% !important;
    }
  }
  
  
  input::placeholder {
    font-size: 0.9rem;
    color: #999;
  }

  .active{
    background-color: rgb(0,123,255) !important;
  }
  