.col-12{
  border: 1px 0px 0px 1px solid rgb(191, 191, 191) !important;
}

.selected{
  background-color: black !important;
  color:white !important;
}

.ftp-buttons button{
  margin-top:5px;
  width: 90px;
  font-size:15px;
  height: 40px;
}

.ftp-buttons{
  height: 50px;
  text-align: left;
  display: inline !important;
}

#ftp-folders, #ftp-files{
  height:550px;
  padding: 0;
  margin:0;
}

.subfolder{
  padding-left: 30px;
}

#ftp-folders ul, #ftp-files ul{
  padding: 0;
  margin:0;
}

#ftp-folders li, #ftp-files li{
  list-style-type: none;
  margin:0;
  height: 30px;
  border-bottom: 1px solid white;
}

#ftp-folders li img, #ftp-files li img{
  width: 20px;
}

#ftp-folders span, #ftp-files span{
  margin-left: 5px;
}

#ftp-folders button, #ftp-files button{
  background-color: white;
  margin: 0 auto;
  border: none;
  text-align: left;
  width: 100%;
  float: left;
  height: 30px;
}

#ftp-folders button:hover, #ftp-files button:hover{
  background-color: black;
  color:white;
}
