html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
    font-size: 20px;
    width: 100%;
    height: 100vh;
  }
  .sub-folder{
    display: none;
  }
  
  .folder{
    width: 100%;
  }
  
  .file{
    display: none;
  }
  
  .icon{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    padding-left: 10px;
  }
  
  .triangle-icon-size{
    width: 10px;
    height: 10px;
    margin-left: -10px;
  }
  
  #folders-container {
    width: 100%;
    height: 100vh;
  }
  
  .active {
    font-size: 21px;
    background-color: #bef0ff;
  }
  
  .items-container {
    cursor: pointer;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
  }
  
  .items-container:hover {
    background-color: #bef0ff;
  }
  
  .show-sub-folder{
    display: block;
  }
  
  .triangle-icon{
    transform: rotate(90deg);
  }
  
  .sub-1 {
    padding-left: 40px;
  }
  
  .sub-2 {
    padding-left: 60px;
  }
  
  .sub-3 {
    padding-left: 80px;
  }
  
  .instruction {
    margin-top: 50px;
    margin-left: 50px;
  }
  
  .instruction-title{
    margin-bottom: 10px;
    color: #00ADFF;
  }
