html,body{
    height: 100vh;
    width:100%;
}

#content{
    min-height: 100vh; /* will cover the 100% of viewport */
    width: 100%;
    padding-bottom: 60px; /* height of your footer */
    margin: 15px auto;
}

.nav-item a{
    color: white !important;
}

.container-login .row form{
    width: auto;
    text-align: center;
    margin: 15px;
    width: 100%;
}

.container-login input{
    height: 65px;
    margin: 35px 0px;
}

#content img{
    max-width: 992px;
}
